body {
    background-image: url('../assets/pexels-pixabay-163703.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#parent {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: scroll;
    overflow-x: hidden;
}

.container {
    scroll-snap-align: start;
}

#calculator {
    height: 50vh;
    width: 60vw;
    background-color: white;
    border-radius: 40px;
    opacity: 97.5%;
}

.footer {
    text-align: center;
    padding: 3px;
    background-color: green;
    color: hsl(0, 88%, 3%);
    opacity: 0.8;
}

.panel-body {
 color: black;
 font-size: medium;

}

.panel-title
{
    font-weight:  bold;
}

.shadow {
    text-shadow: 2px 2px 5px black, 0 0 1em black, 0 0 0.2em white;
}

#revertImage {
    transform: scaleY(-1);
}